@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--header-height: 3rem;
	/*========== Colors ==========*/
	--hue: 45;
	--sat: 98%;
	--first-color: hsl(var(--hue), var(--sat), 60%);
	--first-color-light: hsl(var(--hue), var(--sat), 85%);
	--first-color-lighten: hsl(var(--hue), var(--sat), 80%);
	--first-color-alt: hsl(var(--hue), var(--sat), 53%);
	--title-color: hsl(var(--hue), 4%, 15%);
	--text-color: hsl(var(--hue), 4%, 35%);
	--text-color-light: hsl(var(--hue), 4%, 65%);
	--body-color: hsl(var(--hue), 0%, 100%);
	--container-color: #FFF;
	--scroll-bar-color: hsl(var(--hue), 4%, 85%);
	--scroll-thumb-color: hsl(var(--hue), 4%, 75%);
	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	/*========== Font weight ==========*/
	--font-semi-bold: 600;
	--font-bold: 700;
	/*========== Margenes ==========*/
	--mb-0-5: .5rem;
	--mb-0-75: .75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
  }
  
  @media screen and (min-width: 968px) {
	:root {
	  --biggest-font-size: 3rem;
	  --h2-font-size: 1.75rem;
	  --h3-font-size: 1.25rem;
	  --normal-font-size: 1rem;
	  --small-font-size: .875rem;
	  --smaller-font-size: .813rem;
	}
  }

  *, ::before, ::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  body {
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	transition: .5s;
  }
  
  h1, h2, h3 {
	font-weight: var(--font-semi-bold);
	color: var(--title-color);
	line-height: 1.5;
  }
  
  ul {
	list-style: none;
  }
  
  a {
	text-decoration: none;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }



  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  }
  body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #4070f4;
  }
  .wrapper{
	position: relative;
	max-width: 430px;
	width: 100%;
	background: #fff;
	padding: 34px;
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .wrapper h2{
	position: relative;
	font-size: 22px;
	font-weight: 600;
	color: #333;
  }
  .wrapper h2::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 28px;
	border-radius: 12px;
	background: #4070f4;
  }
  .wrapper form{
	margin-top: 30px;
  }
  .wrapper form .input-box{
	height: 52px;
	margin: 18px 0;
  }
  form .input-box input{
	height: 100%;
	width: 100%;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-weight: 400;
	color: #333;
	border: 1.5px solid #C7BEBE;
	border-bottom-width: 2.5px;
	border-radius: 6px;
	transition: all 0.3s ease;
  }
  .input-box input:focus,
  .input-box input:valid{
	border-color: #4070f4;
  }
  form .policy{
	display: flex;
	align-items: center;
  }
  form h3{
	color: #707070;
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
  }
  .input-box.button input{
	color: #fff;
	letter-spacing: 1px;
	border: none;
	background: #4070f4;
	cursor: pointer;
  }
  .input-box.button input:hover{
	background: #0e4bf1;
  }
  form .text h3{
   color: #333;
   width: 100%;
   text-align: center;
  }
  form .text h3 a{
	color: #4070f4;
	text-decoration: none;
  }
  form .text h3 a:hover{
	text-decoration: underline;
  }
  


  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

  * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
  }
  
  a {
	  text-decoration: none;
  }
  
  li {
	  list-style: none;
  }
  
  :root {
	  --poppins: 'Poppins', sans-serif;
	  --lato: 'Lato', sans-serif;
  
	  --light: #F9F9F9;
	  --blue: #3C91E6;
	  --light-blue: #CFE8FF;
	  --grey: #eee;
	  --dark-grey: #AAAAAA;
	  --dark: #342E37;
	  --red: #DB504A;
	  --yellow: #FFCE26;
	  --light-yellow: #FFF2C6;
	  --orange: #FD7238;
	  --light-orange: #FFE0D3;
  }
  
  html {
	  overflow-x: hidden;
  }
  
  body.dark {
	  --light: #0C0C1E;
	  --grey: #060714;
	  --dark: #FBFBFB;
  }
  
  body {
	  background: var(--grey);
	  overflow-x: hidden;
  }

  .card1{
    background-color:#02225B;
    border-radius:15px;
    height:auto;
}

.first {
    color:#a4adb8;
}

.text1{
    color:#fff;
    font-weight:700;
}

.detail{
    color:#fff;
}

.readmore{
    font-weight:400;
    color:#fff;
}

.text2{
    color:#000;
    font-weight:700;
}

.card{
    border-radius:11px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) ;
    border-top-color: #02225B !important;
    color: #333;
    max-width: 400px;
    left: 300px;
}

.card .card3 {
    width: calc(330px + 10 * ((80vw - 250px) / 680)) ;
}

.card-header{
    border:0;
    border-top: 10px solid #02225B !important;
    border-radius: 8px !important;
}

.card-body{
    border-radius: 5px !important;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 401px) {
    .card .card3{
        width: unset;
    }   
}

mark{
    background-color:#02225B !important ;
    color: #fff;
}

small{
    letter-spacing: 2px;
}

.button3{
   display:inline-block;
   padding:0.3em 1.2em;
   margin:0 0.3em 0.3em 0;
   border-radius:2em;
   box-sizing: border-box;
   text-decoration:none;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   color:#FFFFFF;
   background-color:#4eb5f1;
   text-align:center;
   transition: all 0.2s;
  }


 
  




/* @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.header_section {
    width: 100%;
    float: left;
}

.header_bg{
	width: 100%;
	float: left;
	background-color: #f8f9fa!important;
  }
  .header_left{
	  width: 50%;
	  float: left;
  }
 
  .header_right{
    width: 50%;
    float: left; 
}

.banner_img{
    width: 100%;
    float: left; 
}
  
  .logo {
    width: 25%;
    float: left;
}
.bg-light {
    background-color: transparent!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 18px;
    color: #2e2d2e;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #1b5a8d;
}
.banner_main{
    width: 100%;
    float: left;
    padding-left: 100px;
}
.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #2e2d2e;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #2e2d2e;
    margin-left: 0px;
}
.btn_main {
    width: 100%;
    float: left;
    padding-top: 75px;
}
.more_bt {
    width: 170px;
    float: left;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    border: 2px solid #ff5a58;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.more_bt a:hover {
    color: #000;
    border: 2px solid #ff5a58;
}
.contact_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}
.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #181818;
    border: 2px solid #4aafff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.contact_bt a:hover {
    color: #181818;
    border: 2px solid #ff5a58;
}
.services_section {
    width: 100%;
    float: left;
    background-image: url(../images/services-bg.png);
    height: auto;
    margin-top: 75px;
    padding-bottom: 60px;
    background-size: 100%;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 34px;
    color: #282c47;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.services_taital::after {
    content: '';
    background-color: #ff5a58;
    position: absolute;
    width: 60px;
    text-align: center;
    right: initial;
    top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}
.services_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #060606;
    margin-left: 0px;
}
.moremore_bt {
    width: 170px;
    float: left;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.moremore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4aafff;
    border: 2px solid #88c6f8;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.moremore_bt a:hover {
    color: #181818;
    border: 2px solid #ff5a58;
} */